.test {
  color: red;
  background-color: aqua;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-size: 30px;
  & .title {
    color: white;
    background-color: brown;
    margin: 10px 20px;
  }
  & .subTitle {
    @extend .test;
    color: black;
  }
}
